{{ $author := .Site.Data.author }}
{{ $social := .Site.Data.social }}

<section class="hero">

  <h1>{{ $author.name }}</h1>

  <h2>
    Infrastructure Engineer<br>
    <span>Building. Learning. Sharing.</span>
  </h2>

  <p>{{ $author.location }}</p>

  <p>{{ $author.bio }}</p>

  <nav>

    <a href="{{ "resume" | relLangURL }}">Resume</a>

    •

    <a href="{{ "articles" | relLangURL }}">Articles</a>

    •

    <a href="{{ $social.github }}">GitHub</a>

    •

    <a href="{{ $social.linkedin }}">LinkedIn</a>

  </nav>

</section>