{{ $author := .Site.Data.author }}
{{ $social := .Site.Data.social }}

<section class="hero">

  <div class="hero-monogram">
    RP
  </div>

  <h1>{{ $author.name }}</h1>

  <p class="hero-role">
    Infrastructure Engineer
  </p>

  <p class="hero-motto">
    Building.<br>
    Learning.<br>
    Sharing.
  </p>

  <p class="hero-location">
    {{ $author.location }}
  </p>

  <p class="hero-description">
    {{ $author.bio }}
  </p>

  {{ partial "components/buttons.html" . }}

  {{ partial "components/social.html" . }}

</section>