{{ $author := .Site.Data.author }}
{{ $social := .Site.Data.social }}

<section class="hero">

  <h1>{{ $author.name }}</h1>

  <h2>
    Infrastructure Engineer
    <br>
    <span>Learning Software Engineering</span>
  </h2>

  <p>{{ $author.location }}</p>

  <br>

  <p>{{ $author.bio }}</p>

  <br>

  <nav>

    <a href="/resume/">Resume</a>

    •

    <a href="/articles/">Articles</a>

    •

    <a href="{{ $social.github }}">GitHub</a>

    •

    <a href="{{ $social.linkedin }}">LinkedIn</a>

  </nav>

</section>