{{ define "main" }}

<div class="hx:mx-auto hx:flex hextra-max-page-width">

  {{ partial "sidebar.html" (dict "context" . "disableSidebar" true "displayPlaceholder" false) }}

  <main id="content" class="hx:w-full hx:min-w-0">

    <div class="home-page">

      <header class="home-header">

        <h1>{{ .Title }}</h1>

        {{ with .Content }}
          <p>{{ . | plainify }}</p>
        {{ end }}

      </header>

      {{ partial "components/article-list.html" . }}

    </div>

  </main>

</div>

{{ end }}
